div#article{
	background:linear-gradient(0deg, silver, #f0f0f0, #fff);
	min-width:980px;
}
div#article div.box{
	width:980px;
	position:relative;
	margin:0 auto;
	min-height:1100px;
	overflow:hidden;
}
div#article .fujiformat_logo{
	height:170px;
	position:absolute;
	top:10px;
	left:0px;
	width:100%;
}
div#article h2.subtitle{
	color: var(--ff-black);
	font-size:30px;
	letter-spacing:5px;
	text-align:right;
	position:absolute;
	top:177px;
	right:3px;
	width:100%;
}
div#article .date{
	color: var(--ff-black);
	position:absolute;
	top:145px;
	left:0px;
	font-size:40px;
	font-style:italic;
	line-height:40px;
}
div#article .date span{
	display:block;
	font-size:58px;
	font-weight:bold;
}
div#article .shoyofilms{
	position:absolute;
	top:80px;
	left:0px;
}
div#article a.profile,
div#article ul.gallery li a,
div#article ul.profile li a{
	transition-duration:0.5s;
}
div#article a.profile:hover,
div#article ul.gallery li a:hover,
div#article ul.profile li a:hover{
	background:var(--clear-impact);
	padding:5px;
}
div#article a.profile{
	position:absolute;
	top:350px;
	left:320px;
	font-size:20px;
	color: var(--ff-black);
}
div#article ul.gallery,
div#article ul.profile{
	position:absolute;
	font-size:25px;
	list-style:none;
}
div#article ul.gallery a,
div#article ul.profile a{
	color: var(--ff-black);
}
div#article ul.gallery{
	top: 550px;
	left: 0px;
	z-index:2;
}
div#article ul.gallery li,
div#article ul.profile li{
	margin-bottom:5px;
}
div#article ul.profile{
	top: 240px;
	right: 0px;
	text-align:right;
}

div#article .splink span.content{
	display:block;
}
div#article .splink2,
div#article .splink1{
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;

	background-clip: rgb(34,195,47);
	background-clip: linear-gradient(0deg, rgba(34,195,47,1) 0%, rgba(0,249,255,1) 0%, rgba(248,253,45,1) 48%, rgba(253,100,45,1) 100%);
	position:absolute;
	line-height:1em;
	cursor:pointer;
	transition-duration:0.5s;
}
div#article .splink2:hover,
div#article .splink1:hover{
	color:var(--ff-white);
	background:var(--ff-clear-black);
	padding:10px;
}
div#article .splink2{
	font-size:35px;
	top:250px;
	left:2px;
	user-select: none;
}
div#article .splink2_image{
	position:absolute;
	top:330px;
	left:2px;
	cursor:pointer;
	background: var(--ff-black);
	transition-duration:0.5s;
}
div#article .splink2_image img{
	width:190px;
}
div#article .splink2_image:hover{
	opacity:0.7;
}
div#article .splink1{
	width:130%;
	top:650px;
	left:-150px;
	text-align:center;
	font-weight:bold;
	transform:rotate(-5deg);
	filter: drop-shadow(10px 10px 0px var(--ff-black));
	z-index:1;
	user-select: none;
}
div#article .splink1-title{
	display:inline-block;
	font-size:40px;
	padding:20px 0 10px;
}
div#article .splink1-label{
	font-size:85px;
	line-height:1em;
}

div#article noscript{
	position:absolute;
	top:230px;
	left:2px;
	font-weight: bold;
	color:red;
}